<!DOCTYPE HTML>
<html>
    <head>
        <title>Create task</title>
        <style>
                h1 { font-size: 36px; }
                p { font-size: 18px; }
        </style>
    </head>
    <body>
        <h1>Create task:</h1>
        <form method="post" action="/createTask">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="description" placeholder="Description"><br><br>
            <button style="height: 25px; width: 75px" type="submit">Create</button>
            <p><a href="/">Back...</a>
        </form>
    </body>
</html>
