<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <style>
            body{
                background-color: #303030;
            }
            h1{
                color: #00CED1;
            }
            a {
                text-decoration: none;
                font-size: 25pt;
                color: #7FFFD4;
            }
            a:hover{
                text-decoration: underline;
            }

        </style>
    </head>
    <body>
        <h1 align="center">Привет! Прежде чем начать игру, войди в свой аккаунт или создай новый. </h1><br>
        <p align="center"><a href="/signup">Регистрация</a></p><br>
        <p align="center"><a href="/login">Вход</a></p>
    </body>
</html>