<!DOCTYPE HTML>
<html>
    <head>
        <title>Update task</title>
        <style>
                h1 { font-size: 36px; }
                p { font-size: 18px; }
        </style>
    </head>
    <body>
        <h1>Update task:</h1>
        <form method="post">
            <input type="number" name="id" placeholder="Old ID"><br>
            <input type="text" name="name" placeholder="New name"><br>
            <input type="text" name="description" placeholder="New description"><br><br>
            <button style="height: 25px; width: 75px" type="submit">Update</button>
            <p><a href="/">Back...</a>
        </form>
    </body>
</html>
